{%extends "template.html" %}

{%block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_head']}}</h1>
                            <span class="subheading">{{params["blog_subhead"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->



        <div class="container-fluid px-4 px-lg-5">
            <div class="container-fluid py-5">
                <a href="/">
                    <button class="d-block float-start btn btn-primary mb-5" >Home</button>
                </a>
                <a href="/logout">
                    <button class="d-block btn btn-primary mb-5 float-end" >Logout</button>
                </a>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-12">
                    <h1 class="text-center mb-5">Customer Details</h1>
                    <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center" scope="col">Name</th>
                            <th class="text-center" scope="col">Phone</th>
                            <th class="text-center" scope="col">Email</th>
                            <th class="text-center" scope="col">Message</th>
                            <th class="text-center" style="font-size: 15px;" scope="col">Location for <br> Property </th>
                            <th class="text-center" style="font-size: 15px;" scope="col">Maximum Money <br>(can invest)</th>
                            <th class="text-center" scope="col">Contact Date</th>
                          </tr>
                        </thead>
                        <tbody>


                        {% for customer in customers %}
                          <tr>
                            <td class="text-center">
                                {{customer.name}}
                            </td>
                            <td class="text-center">
                                {{customer.phone}}
                            </td>
                            <td class="text-center">
                                {{customer.email}}
                            </td>
                            <td class="text-center">
                                {{customer.message}}
                            </td>
                            <td class="text-center">
                                {{customer.location}}
                            </td>
                            <td class="text-center">
                                {{customer.money}}
                            </td>
                            <td class="text-center">
                                {{customer.date}}
                            </td>
                          </tr>
                        {%endfor%}


                        </tbody>
                      </table>
                    <!-- Pager-->
                    <!-- <div class="d-block float-start"><a class="btn btn-primary text-uppercase" href="{{prev}}">&larr; Previous</a></div>
                    <div class="d-block float-end"><a class="btn btn-primary text-uppercase" href="{{next}}">Next &rarr;</a></div> -->
                </div>
            </div>
        </div>

{%endblock%}        
