{%extends "template.html" %}

{%block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/images/img7.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_head']}}</h1>
                            <span class="subheading fw-bold fs-2">{{params["blog_subhead"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <!-- section 2 Why To Choose Us -->
            <div class="div2">
                <div class="container-fluid">
                    <h2 class="text-center div2_heading my-3">Why Choose Us?</h2>
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6 mt-2  px-sm-5">
                            <div class="card0">
                                <div class="card-body">
                                    <img src="../static/images/teamwork.png" class="card-img-top d-block mx-auto mb-4 card0_img" style="width: 40px; height: auto; object-fit: cover;" alt="vector">
                                    <h4 class="card-title service_name ">Expert Team</h4>
                                    <p class="card-text text-center choose_text">We possesses a workforce made up of young, dynamic and agile individuals. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 mt-2 px-sm-5">
                            <div class="card0">
                                <div class="card-body">
                                    <img src="../static/images/bullseye.png" class="card-img-top d-block mx-auto mb-4 card0_img" style="width: 40px; height: auto; object-fit: cover;" alt="vector">
                                    <h4 class="card-title service_name ">Innovation</h5>
                                        <p class="card-text text-center choose_text">This perfect blend leads to ideas, strengths, interests and cultural backgrounds.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 mt-2 px-sm-5">
                            <div class="card0">
                                <div class="card-body">
                                    <img src="../static/images/customer-service.png" class="card-img-top d-block mx-auto mb-4 card0_img" style="width: 40px; height: auto; object-fit: cover;" alt="vector">
                                    <h4 class="card-title service_name ">Customised Service</h4>
                                    <p class="card-text text-center choose_text">We LISTEN, COMMUNICATE, RESPOND and so we ACHIEVE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
             <!-- Section 3 services -->
    <div class="div3">
        <h2 class="text-center text-dark div3_heading my-3">Services</h2>

        <div class="container-fluid">
            <div class="row services_row2">
                <div class="col-12 col-lg-4 col-sm-6 text-center mb-2 mb-md-0">
                    <!-- <a href="./services/transaction-processing/index.php"> -->
                        <div class="card " style="padding: 30px; max-width: 300px; margin: auto; height: 100%;">
                            <img src="../static/images/icons/s1.png" class="card-img-top" style="max-width: 50px; margin: auto; height: auto; object-fit: cover;" alt="img">
                            <div class="grey_line"></div>
                            <div class="card-body">
                                <h5 class="service_name text-dark">Property Consultants</h5>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-12 col-lg-4 col-sm-6 text-center mb-2 mb-md-0">
                    <!-- <a href="./services/taxation-filling/index.php"> -->
                        <div class="card card_type2" style="padding: 30px; max-width: 300px; margin: auto; height: 100%;">
                            <img src="../static/images/icons/s2.png" class="card-img-top img_type2" style="max-width: 50px; margin: auto; height: auto; object-fit: cover;" alt="img">
                            <div class="grey_line"></div>
                            <div class="card-body">
                                <h5 class="service_name2">Home Inspection</h5>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-12 col-lg-4 col-sm-6 text-center mb-2 mb-md-0">
                    <!-- <a href="./services/payroll-managment/index.php"> -->
                        <div class="card my-md-2 my-lg-0" style="padding: 30px; max-width: 300px; margin: auto; height: 100%;">
                            <img src="../static/images/icons/s3.png" class="card-img-top" style="max-width: 50px; margin: auto; height: auto; object-fit: cover;" alt="img">
                            <div class="grey_line"></div>
                            <div class="card-body">
                                <h5 class="service_name text-dark">Building Contractors</h5>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-12 col-lg-4 col-sm-6 text-center mb-2 mb-md-0">
                    <!-- <a href="./services/custom-reporting/index.php"> -->
                        <div class="card my-lg-3 my-md-2 card_type2">
                            <img src="../static/images/icons/s4.png" class="card-img-top img_type2" style="max-width: 50px; margin: auto; height: auto; object-fit: cover;" alt="img">
                            <div class="grey_line"></div>
                            <div class="card-body">
                                <h5 class="service_name2">Interior Decorators</h5>

                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-12 col-lg-4 col-sm-6 text-center mb-2 mb-md-0">
                    <!-- <a href="./services/compliance/index.php"> -->
                        <div class="card my-lg-3 my-md-3" style="padding: 30px; max-width: 300px; margin: auto; height: 100%;">
                            <img src="../static/images/icons/s5.png" class="card-img-top" style="max-width: 50px; margin: auto; height: auto; object-fit: cover;" alt="img">
                            <div class="grey_line"></div>
                            <div class="card-body">
                                <h5 class="service_name text-dark">Builders</h5>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-12 col-lg-4 col-sm-6 text-center mb-2 mb-md-0">
                    <!-- <a href="./services/bookkeeping/index.php"> -->
                        <div class="card my-lg-3 my-md-3 card_type2">
                            <img src="../static/images/icons/s6.png" class="card-img-top img_type2" style="max-width: 50px; margin: auto; height: auto; object-fit: cover;" alt="img">
                            <div class="grey_line"></div>
                            <div class="card-body">
                                <h5 class="service_name2">Architects</h5>

                            </div>
                        </div>
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>
{%endblock%}        
