{%extends "template.html" %}

{%block body%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/images//img11.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Our Services</h1>
                            <span class="subheading fw-bold fs-2">The Best we can provide you</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container-fluid">
            <div class="container-fluid mt-5">
                <div class="container">
                    <div class="row"> 
                        <div class="col-12 text-center">
                            <p class="q_heading">Our Service offerings</p>
                            <div class="blue_line mb-0"></div>
                            <p class="q_ans">At Jaunpur Real Estates, we understand regulatory requirements applicable to each entity/individual and come up with solutions for its adherence by our clients. Some areas of expertise in our team include but are not limited to,</p>
                            <div class="container-fluid p-0 mt-5">
                                <div class="row d-flex justify-content-center aligns-item-center tf_box1">
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%; height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon1.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title"> Property Consultants </h3>
                                            </div>
        
                                        </div>
                                    </div>
        
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%;height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon2.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title"> Home Inspection</h3>
                                            </div>
        
                                        </div>
                                    </div>
        
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%; height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon3.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title"> Building Contractors </h3>
                                            </div>
        
                                        </div>
                                    </div>
        
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%; height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon4.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title"> Interior Decorators</h3>
                                            </div>
        
                                        </div>
                                    </div>
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%; height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon5.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title"> Builders</h3>
                                            </div>
        
                                        </div>
                                    </div>
        
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%;height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon6.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title"> Architects</h3>
                                            </div>
        
                                        </div>
                                    </div>
        
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%;height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon7.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title">Agents</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%;height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon8.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title">Vastu Consultants</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="visibility:hidden;" class="col-12 mb-5 col-sm-6 col-md-4 col-lg-3 what_we_do">
                                        <div class="card border-0 text-center" style="max-width: 100%; width: 100%; height: 100%; margin: auto;">
                                            <br>
                                            <img src="../static/images/tax_filing/icons/icon9.png" alt="icon" style="max-width: 60px; margin: auto;">
                                            <!-- <br> -->
                                            <div class="card-body ">
                                                <h3 class="card-title">Operational Tax planning</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="blue_div">
                <!-- <div class="container-fluid bg_process text-center">
        
                    <div class="q_do">How we do?</div>
                    <div class="blue_line"></div>
                    <div class="row">
                        <div class="col-12 col-sm-6 offset-sm-3 col-md-6 offset-md-3">
                            <img class="img process_img" style="max-width: 100%;" src="../static/images/advisory/image 6.png" alt="img">
                        </div>
                    </div>
                </div> -->
        
                <div class="container-fluid why_section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="wtp">More About Services</p>
                                <div class="blue_line3"></div>
                                <p class="wtp-ans">It becomes indispensable for an organization to understand its taxing environment and critical to its continued success to answer the following:
                                </p>
                            </div>
                        </div>
        
                        <div class="row d-none d-md-block">
                            <!-- <img src="../static/images/tax_filing/strip.png" style="width: 90vw;" alt="img"> -->
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 mt-2 mt-md-0 text-center col-md-4">
        
                                <p class="b_heading">Awareness</p>
                                <p class="b_desc">Is the entity aware of all taxes that are applicable to it?</p>
                            </div>
                            <div class=" col-12 mt-2 mt-md-0 text-center col-md-4">
        
                                <p class="b_heading">Registration</p>
                                <p class="b_desc">What is the procedure to register with taking authority?</p>
                            </div>
                            <div class=" col-12 mt-2 mt-md-0 text-center col-md-4">
        
                                <p class="b_heading">Obligations</p>
                                <p class="b_desc">If taxes are applicable, what are the tax obligations that the entity needs to compensate?</p>
                            </div>
                        </div>
                        <div class="row d-none d-md-block">
                            <!-- <img src="../static/images/tax_filing/strip2.png" style="width: 90vw;" alt="img"> -->
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 mt-2 mt-md-0 text-center col-md-4">
        
                                <p class="b_heading">Exemptions</p>
                                <p class="b_desc">Is the entity eligible for any exemptions?</p>
                            </div>
                            <div class=" col-12 mt-2 mt-md-0 text-center col-md-4">
        
                                <p class="b_heading">Liability</p>
                                <p class="b_desc">How often are the taxes required to be paid?</p>
                            </div>
                            <div class=" col-12 mt-2 mt-md-0 text-center col-md-4">
        
                                <p class="b_heading">Reporting</p>
                                <p class="b_desc">What and how is the information associated to transactions required to be submitted to taxing authority?</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="b_desc">Compliance with taxation and filing requirements are a sequence; any transaction being different in nature needs to be evaluated for listed criteria and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

{%endblock%}        
